<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="/test.css"/>

<script src="/jquery-1.12.3.min.js"></script>

<script src="/test.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="/bootstrap-theme.min.css"/>

<!-- Latest compiled and minified JavaScript -->
<script src="/bootstrap.min.js"></script>